:root{
    --ink: #16222a;
    --blue:rgb(5, 172, 238) ;
    --mint: #9be1c7;
    --yellow: #f5c84b;
}
html, body {
    min-height: 100vh;
    margin: 0;
    color: var(--ink);
    background: url("../../assets/tatooine_race.webp") center / cover no-repeat;
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    color: var(--ink);
}
.pod {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 25%;
    max-width: 90vw;
    max-height: 90vh;
}
.ben {
    position: fixed;
    top: 62%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 2%;
    height: 6%;
    max-width: 90vw;
    max-height: 90vh;
}